
html {
  padding: 0;
  margin: 0;
}
body {
        display: block;
        width: 1440px;
        height: 18932px;
        margin: 0 auto;
        background: white;
        font-family: Source Code Pro;
        display:block;
       position: relative;
      }

      body::before{
      content: "";
      position: absolute;
      left:0;
      top: 0;
      right: 0;
      background: url('../images/background.png');
      height: 18932px;
      display: block;
      opacity: .2;
      }
p{
  position: relative;
}
.div_rose {
  display: block;

  position: absolute;
  top: 1790px;
  left: 0;
  right: 0;
  /* opacity: .8; */

  height: 1387px;
  background-color: #F70A8F;
  /* margin-top: -750px; */
}
.div_blue {
  display: block;
  width: 1440px;
  height: 3070px;
  background-color: #0F00FF;

  position: absolute;
  top: 4950px;
  left: 0;
  right:0;
/* opacity: .6; */
  margin-top: 710px;
}
.div_blue::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #0F00FF;
}

.layer1, .layer2{
position: absolute;
}
.layer1::before{
  top: 5659px;
  left:0;
  right: 0;

}
.layer2::before{
  color: white;
}

.layer1{z-index: 1;}
.layer2{z-index: 2;}


h1 {
display: block;
width: 394px;
/* height: 124px; */
left: 110px;
top: 138px;
position: relative;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
margin-left: 130px;
color: #0F00FF;

}
.h2_rose_1{
display: block;
font-size: 48px;
font-style: bold;
margin-top: 165px;
margin-left: 680px;
color: #F70A8F;
}

.h2_rose_2 {
display: block;
font-size: 48px;
margin-top: 250px;
margin-left: 725px;
color: #F70A8F;
}

.h2_rose_3{
display: block;
font-size: 48px;
margin-top: 325px;
margin-left: 730px;
color: #F70A8F;
}


.h2_blue_1{
display: block;
width: 954px;
height: 84px;

font-size: 48px;
line-height: 60px;
font-style: bold;
margin-top: 1925px;
margin-left: 670px;

color: #0F00FF;
}
.h2_blue_2_1{
display: block;

font-size: 48px;
line-height: 60px;
font-style: bold;
margin-top: 300px;
margin-left: 730px;
margin-bottom: 100px;
color: #0F00FF;
}
.h2_blue_2_2{
display: block;

font-size: 48px;
line-height: 60px;
font-style: bold;
margin-top: 200px;
margin-left: 730px;
margin-bottom: 100px;
color: #0F00FF;
}
.h2_white{
  font-size: 48px;
  font-style: bold;
  margin-top: 370px;
  margin-left: 730px;
  color: #FFFFFF;
}
.big_emoji_blue_1 {
position: relative;
width: 1900px;
height: 362px;
left: -230px;


margin-top: 230px;

font-weight: 600;
font-size: 288px;
line-height: 362px;
color: #0F00FF;
}

.big_emoji_blue_2 {
text-align: center;
font-style: normal;
font-size: 300px;
margin-top: 110px;
margin-bottom: 100px;
color: #0F00FF;
}

.emoji_layer{
  overflow: hidden;
  width: 1440px;
  height: 150px;
  height: auto;
}

.big_emoji_rose_1 {
display: block;
width: 1440px;
height: 341px;
text-align: center;
font-style: normal;
font-weight: 900;
font-size: 230px;
line-height: 164.6%;
margin-top: 250px;
/* or 412px */
color: #F70A8F;
}

.big_emoji_rose_2 {
/* position: absolute;
top: 5900px; */

display: block;
text-align: center;
font-style: normal;
font-size: 250px;
line-height: 164.6%;
margin-top: 80px;
/* or 412px */
color: #F70A8F;

}
.big_emoji_white{
display: block;
font-size: 320px;
text-align: center;

margin-top: 180px;


line-height: 164.6%;
color: #FFFFFF;
}
.emoji_on_the_top_1 {
display: block;
position: absolute;
left: 852px;
top: 218px;
font-size: 64px;
color: #F70A8F;
}
.emoji_on_the_top_2 {
display: block;
position: absolute;
left: 242px;
top: 733px;
font-style: normal;
font-size: 64px;
color: #F70A8F;
}
.emoji_on_the_top_3 {
display: block;
position: absolute;
left: 1052px;
top: 686px;
font-style: normal;
font-size: 64px;
color: #F70A8F;

}
.emoji_on_the_top_4 {
display: block;
position: absolute;
left: 608px;
top: 793px;
font-style: normal;
font-size: 64px;
color: #F70A8F;

}
.p_blue{
display: block;
width: 832px;
height: 132px;

margin-top: 415px;
margin-left: 245px;

font-size: 24px;
line-height: 30px;

color: #0F00FF;
}
.p_white{
position:relative;

display: block;
width: 832px;
height: 217px;

margin-top: 250px;
margin-left: 245px;

font-size: 24px;
line-height: 30px;

color: #FFFFFF;
}
.p_white_36px{
  position: relative;
  width: 835px;
  font-size: 36px;
  margin-top: 130px;
  margin-left: 300px;
  text-align: center;
  color: #FFFFFF;
}
.p_rose{
  display: block;
  width: 832px;
  height: 217px;

  margin-top: -50px;
  margin-left: 240px;

  font-size: 24px;
  line-height: 30px;

  color: #F70A8F;
}
img{
  display: block;
  position:relative;
  margin-left: 170px;
  margin-top: -135px;
}
.img_arrow_rose{
  display: block;
  position:relative;
  margin-left: 170px;
  margin-top: 150px;
}

/* .background_rose{ */
  display: block;
  position: absolute;
  top: 250px;
  /* opacity: .5; */
  width: 1440px;
  height: 1387px;
  margin-top: 300px;
  background: #F70A8F;
  color: white;
  margin-top: -380px;
}

.background_blue {
display: block;
width: 1440px;
height: 3070px;
left: 0px;
top: 5659px;
background: #0F00FF;
}

.emoji_white_144_1{
display: block;
width: 609px;
margin-left: 230px;
margin-top: 140px;
margin-right: 0;
height: auto;
font-size: 155px;

color: #FFFFFF;
}
.emoji_white_144_2{
display: block;
width: 609px;
margin-left: 610px;
margin-top: -200px;
height: auto;
font-size: 155px;

color: #FFFFFF;
}

.emoji_blue_85{
display: block;
width: 1220px;
height: 151px;

font-weight: 500;
font-size: 85px;
line-height: 164.6%;

margin-top: 80px;
margin-left: 150px;

color: #0F00FF;
}
.emoji_rose_96{
/* display: block;
font-size: 96px;
line-height: 400px;
margin-top: -30px;
color: #F70A8F; */
display: block;
    font-size: 96px;
    line-height: 320px;
    margin-top: 10px;
    margin-left: 120px;
    color: #F70A8F;
}
.comments_blue{
  display: block;
  width: 609px;
  height: 71px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  margin-right: 45px;
  margin-left: 600px;
  color: #0F00FF;

}

.text_white_1{
  display: block;
  width: 996px;
  font-weight: 500;
  font-size: 36px;
  margin-top: 270px;
  margin-left: 235px;
  color: #FFFFFF;
}
.text_white_2{
  display: block;
  width: 996px;
  font-size: 36px;
  margin-top:180px;
  margin-left: 235px;
  margin-bottom: 200px;
  color: #FFFFFF;
}
.emoji_in_table{
display: block;
width: 403px;
height: 121px;

font-weight: 600;
font-size: 96px;
line-height: 121px;

color: black

/* color: #FFFFFF */
}

table {
    position: absolute;

    top: 6900px;
    left: 0;
    right: 0;
    margin-top: 430px;
    width: 1440px;
    background: #0F00FF .8;
    /* background: green; */
    color: white;
    border-spacing: 3px;
    align-content: space-between;
    border-width: 300px;
    border-color: black;


   }


   td, tr {
    background: inherit;
width: 512px;
padding: 115px;
margin-left: 50px;

  border: 1px solid black;
  border-style: solid;
  border-color: white;
  font-weight: 600;
  font-size: 96px;
  line-height: 121px;

  color: white;
  text-align: center;
   }
td::before{
  width: 512px;

}

th{
  width: 720px;
}

.little_emoji_rose_1, .little_emoji_rose_2, .little_emoji_rose_3, .little_emoji_rose_4, .little_emoji_rose_5, .little_emoji_rose_6{
  font-size: 78px;
  color: #F70A8F;
  padding: 100px 120px 100px 120px;
  transition: all 4s ease-in-out;
}

.little_emoji_rose_1{
  margin: 50px 650px 5px 200px;
}

.little_emoji_rose_2{
  margin: -180px 50px 10px 760px;
}

.little_emoji_rose_3{
  margin: -180px 770px 10px 20px;
}

.little_emoji_rose_4{
  margin: -180px 180px 10px 450px;
}

.little_emoji_rose_5{
  margin: -110px 600px 10px 100px;
}
.little_emoji_rose_6{
  margin: -190px 180px 0 500px;
}

.little_emoji_rose_1:hover, .little_emoji_rose_2:hover, .little_emoji_rose_3:hover, .little_emoji_rose_4:hover, .little_emoji_rose_5:hover, .little_emoji_rose_6:hover {
  transform: scale(.1);
  transition-duration: .4s;
}

.red{
  weight:300px;
  height: 100px;
  background: red;
}
.red:hover{
  display: contents;
  transform: scale(3);
  transform: rotate(90deg);
}

@keyframes trash {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 30deg;

  }
}
/*
.case_text_blue{
  font-size: 48px;
  color: #0F00FF;
} */
/* .case_text_rose{
  font-size: 48px;
  color: #F70A8F;
} */
.case_center_emoji{
  font-size: 96px;
  margin-top: 200px;
  text-align: center;
  color: #0F00FF;}



.sqtx_blue_left_v, .sqtx_blue_right_v, .sqtx_blue_left_n, .sqtx_blue_right_n {
  font-size: 48px;
  color: #0F00FF;

}

.sqtx_blue_left_v {
margin-top: 170px;
margin-left: 120px;
}

.sqtx_blue_right_v{
  margin-top: -45px;
  margin-right: 120px;
  margin-left: 500px;
  text-align: right;
}

.sqtx_blue_left_n {
  font-size: 48px;
  color: #0F00FF;
  margin-top: 200px;
  margin-left: 120px;
}
.sqtx_blue_right_n {
  margin-top: -50px;
  margin-right: 120px;
  margin-left: 900px;
  text-align: right;
}


.case_center_emoji_in_rose{
  font-size: 96px;
  margin-top: -80px;
  text-align: center;
  color: #0F00FF;}

.sqtx_rose_center_v, .sqtx_rose_left,  .sqtx_rose_right, .sqtx_rose_center_n {
  font-size: 48px;
  color: #F70A8F;
}
.sqtx_rose_center_v{
text-align: center;
margin-top: 265px;
}

.sqtx_rose_left{
margin-top: 235px;
margin-left: 120px;
}

.sqtx_rose_right{
margin-top: -66px;
margin-left: 1210px;

}

.sqtx_rose_center_n{
margin-top: 230px;
text-align: center;
}


/*  */

.sqtx_rose_center_v_1, .sqtx_rose_left_1,  .sqtx_rose_right_1, .sqtx_rose_center_n_1 {
  font-size: 48px;
  color: #F70A8F;
}
.case_center_emoji_in_rose_1{
  font-size: 96px;
  margin-top: -80px;
  text-align: center;
  color: #0F00FF;
}

.sqtx_rose_center_v_1{
text-align: center;
margin-top: 225px;
}

.sqtx_rose_left_1{
margin-top: 225px;
margin-left: 120px;
}

.sqtx_rose_right_1{
margin-top: -70px;
margin-left: 977px;
margin-right: 50px;

}

.sqtx_rose_center_n_1{
margin-top: 230px;
text-align: center;
}

/*  */


.space {
  width: 1440px;
  height: 60px;
}



.div_blue_1 {
  display: block;
  width: 1440px;
  height: 3415px;
  background-color: #0F00FF;

  position: absolute;
  top: 14500px;
  left: 0;
  right:0;
/* opacity: .2; */
  /* margin-top: 710px; */
}

.white_emoji{
  font-size: 144px;
  color: white;
  text-align: center;
  margin-top: 160px;
}

.h2_rose_pain {
  display: block;
  font-size: 48px;
  margin-top: 250px;
  margin-left: 725px;
  color: #F70A8F;
}


.emoji_rose_pain {
  display: block;
  font-size: 96px;
  line-height: 320px;
  margin-top: 90px;
  margin-left: 220px;
  color: #F70A8F;

}

.p_rose_pain {
  width: 550px;
  font-size: 36px;
  margin-top: -70px;
  margin-left: 730px;
  color: #F70A8F;
}
.h2_rose_concl{
  display: block;
  font-size: 48px;
  margin-top: 520px;
  margin-left: 725px;
  color: #F70A8F;
}

.p_rose_concl_1, .p_rose_concl_2{
  display: block;
  width: 832px;
  font-size: 24px;
  color: #F70A8F;
  margin-left: 240px;
}

.p_rose_concl_1 {
  /* height: 217px; */
  margin-top: 120px;
}
.p_rose_concl_2 {
    margin-top: 40px;
}
.arrow_rose_2{
  margin-top: -265px;
}
.emoji_rose_concl{
  font-size: 96px;
  color: #F70A8F;
  margin-top: 410px;
  text-align: center;
}
.div_rose_concl {
  background: #F70A8F;
  width: 1440px;
  height: 55px;
}
   /* tr - строка
   td - столбец */


/* section {
display: flex;
jistify-content: space-between;
padding-top: 80px;
      }
section div{
width: 50%;
overflow: hidden;
padding-left: 40px; */
