h1, h2, p {
  font-family: Source Code Pro;
}
body{
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background: white;
  display: block;
  position: relative;
}
h1 {
  font-size: 80px;
  margin-top: 70px;
  margin-bottom: 90px;
}
