h1, h2, p {
  font-family: Source Code Pro;
}
body{
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background: white;
  display: block;
  position: relative;
}
h1 {
  position: absolute;
width: 394px;
height: 124px;
left: 243px;
top: 138px;

font-family: Source Code Pro;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;

color: #0F00FF;

}
